 <header class="hero">
    <div class="hero-wrapper">
        <!--============ Secondary Navigation ===============================================================-->
        <div class="secondary-navigation">
            <div class="container">
                <a class="left" href="{{ path('homepage') }}">
                    <span>
                        <i class="fa fa-home"></i> Accueil
                    </span>
                </a>  
                <!--end left-->
                <ul class="right">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li>
                            <a href="{{ path('user_profile') }}">
                                <i class="fa fa-user"></i> {{ app.user.username }}
                            </a>
                        </li>
                        <li>
                            <a href="my-ads.html">
                                <i class="fa fa-heart"></i>Mes favoris
                            </a>
                        </li>
                         <li>
                            <a href="{{ path('logout') }}">
                                <i class="fa fa-sign-out"></i>  {{ 'navbar.logout'|trans }}
                            </a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{ path('login') }}">
                                <i class="fa fa-sign-in"></i> {{ 'navbar.login'|trans }}
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('registration') }}">
                                <i class="fa fa-pencil-square-o"></i> {{ 'navbar.signin'|trans }}
                            </a>
                        </li>
                    {% endif %}
                    <li class="dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ app.request.locale|upper }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{{ path('switch_locale', {'locale': 'fr'}) }}">FR</a>
                            <a class="dropdown-item" href="{{ path('switch_locale', {'locale': 'en'}) }}">EN</a>
                        </div>
                    </li>

                </ul>
                <!--end right-->
            </div>
            <!--end container-->
        </div>
        <!--============ End Secondary Navigation ===========================================================-->

        {% if app.request.get('_route') == 'homepage' %}
            <div class="page-title">
                <div class="container">
                    <h1 class="opacity-40 center">
                        <a href="#">Leboncoin</a>, du pauvre
                    </h1>
                </div>
                <!--end container-->
            </div>
        
            {% include('components/form-search.html.twig') %}

            <div class="background">
                <div class="background-image original-size">
                    <img src="{{ asset('img/footer-background-icons.jpg') }}" alt="">
                </div>
                <!--end background-image-->
            </div>
        {% else %}
                 <div class="main-navigation">
                    <div class="container">
                        <nav class="navbar navbar-expand-lg navbar-light justify-content-between">
                            <!--end navbar-collapse-->
                            <a href="#collapseMainSearchForm" class="main-search-form-toggle" data-toggle="collapse"  aria-expanded="false" aria-controls="collapseMainSearchForm">
                                <i class="fa fa-search"></i>
                                <i class="fa fa-close"></i>
                            </a>
                            <!--end main-search-form-toggle-->
                        </nav>
                        <!--end navbar-->
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Retour à l'accueil</a></li>
                        </ol>
                        <!--end breadcrumb-->
                    </div>
                    <!--end container-->
                </div>

                <div class="collapse" id="collapseMainSearchForm">
                    {% include('components/form-search.html.twig') %}
                </div>
                <!--end collapse-->

                <div class="page-title">
                    <div class="container">
                        <h1>Se connexion</h1>
                    </div>
                    <!--end container-->
                </div>

                <div class="background"></div>
                <!--end background-->
        {% endif %}

    </div>
    <!--end hero-wrapper-->
</header>
